<template>
    <div class="layout">
        <i-breadcrumb :style="{margin: '24px 24px'}">
            <i-breadcrumb-item>tunnel</i-breadcrumb-item>
            <i-breadcrumb-item>create</i-breadcrumb-item>
        </i-breadcrumb>
        <i-content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
            <i-row type="flex" justify="start" align="middle" :gutter="16" v-for="(value,name) in info"  :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">{{name}}</i-col>
                <i-col span="6">
                    <i-input v-model="info[name]" :placeholder="placeholder[name]" @input="updateOtherInput(name, $event)"></i-input>
                </i-col>
            </i-row>
            <i-row>
                <i-col span="6" offset="2" :style="{textAlign:'right'}">
                    <i-button type="success" @click="goSave">Save</i-button>
                    <i-button type="info" @click="goBack">Back</i-button>
                </i-col>
            </i-row>
        </i-content>
    </div>
</template>
<script type="text/javascript">
    module.exports = {
        data: function() {
            return {
                routeId: this.id,
                info:{
                    name:'tcp客户端',
                    mode:'',
                    input:'tcp@127.0.0.1:1080',
                    in_proto_cfg:'{"head_trim":""}',
                    in_decrypt_mode:'',
                    in_decrypt_key:'',
                    in_extend:'',

                    output:'tcp_mux@127.0.0.1:9999',
                    out_proto_cfg:'{"head_append":""}',

                    out_crypt_mode:'gcm',
                    out_crypt_key:'goodweather',
                    out_extend:'{"mux_conn":10}',
                },
                placeholder:{
                    mode: '空|frpc|frps',
                },
                fields_type:{
                    name:'string',
                    input:'string',
                    mode:'string',
                    in_proto_cfg:'string',
                    in_decrypt_mode:'string',
                    in_decrypt_key:'string',
                    in_extend:'string',

                    output:'string',
                    out_proto_cfg:'string',
                    out_crypt_mode:'string',
                    out_crypt_key:'string',
                    out_extend:'string',

                    created_at:'string',
                    updated_at:'string',

                }
            }
        },
        props: ['id'],
        methods: {
            updateOtherInput(name, newValue) {
                if (name==='input'||name==="mode") {
                    // 从 @ 处截取前面的字符
                    const proto = this.info['input'].split('@')[0];
                    const mode = this.info['mode'];

                    console.log(proto,mode);
                    switch (mode){
                        case "frpc":
                            var param =this.getOutputParam(proto);
                            console.log(param);
                            this.info['in_proto_cfg']  = param.protoCfg;
                            this.info['in_extend'] = param.extend;
                            break
                        case "frps":
                        case "":
                            var param =this.getInputParam(proto);
                            console.log(param);
                            this.info['in_proto_cfg']  = param.protoCfg;
                            this.info['in_extend'] = param.extend;
                            break
                        default:

                    }
                }

                if (name==='output'||name==="mode") {
                    // 从 @ 处截取前面的字符
                    const proto = this.info['output'].split('@')[0];
                    const mode = this.info['mode'];
                    console.log("output",proto,mode);
                    switch (mode){
                        case "frps":
                            var param =this.getInputParam(proto);
                            console.log(param);
                            this.info['out_proto_cfg']  = param.protoCfg;
                            this.info['out_extend'] = param.extend;
                            break
                        case "frpc":
                        case "":
                            var param =this.getOutputParam(proto);
                            console.log(param);
                            this.info['out_proto_cfg']  = param.protoCfg;
                            this.info['out_extend'] = param.extend;
                            break
                        default:
                    }
                }
            },

            getInputParam(proto){
                var protoCfg;
                switch (proto){
                    case "tcp":
                    case "tcpmux":
                    case "tcp_mux":
                        protoCfg = '{"head_trim":""}';
                        break
                    case "udp":
                        protoCfg = '{"timeout":"60"}';
                        break
                    case "quic":
                        protoCfg =  '';
                        break
                    case "kcp":
                    case "kcpmux":
                    case"kcp_mux":
                        protoCfg =  '{"write_delay":false,"mtu":1300,"sndwnd":2048,"rcvwnd":1024,"datashard":10,"parityshard":3,"dscp":46,"acknodelay":true,"nodelay":0,"interval":40,"resend":0,"nc":0,"sockbuf":16777217,"streambuf":4194304}';
                        break
                    case "socks5x":
                        protoCfg = `{"username":"","password":"","tcp_timeout":120,"udp_advertised_ip":"","udp_advertised_port":0}`
                        break
                    default:
                }

                return {
                    protoCfg:protoCfg,
                    extend:''
                }
            },
            getOutputParam(proto){
                var protoCfg,extend;
                switch (proto){
                    case "tcp":
                        extend = '';
                        protoCfg = '{"head_append":""}';
                        break
                    case "tcpmux":
                    case "tcp_mux":
                        extend = '{"mux_conn":10}';
                        protoCfg = '{"head_append":""}';
                        break
                    case "udp":
                        extend = '';
                        protoCfg =  '{"timeout":"60"}';
                        break
                    case "quic":
                        extend = '{"mux_conn":10}';
                        protoCfg =  '';
                        break
                    case "kcp":
                        extend = '';
                        protoCfg =  '{"write_delay":false,"mtu":1300,"sndwnd":2048,"rcvwnd":1024,"datashard":10,"parityshard":3,"dscp":46,"acknodelay":true,"nodelay":0,"interval":40,"resend":0,"nc":0,"sockbuf":16777217,"streambuf":4194304}';
                        break
                    case "kcpmux":
                    case "kcp_mux":
                        extend = '{"mux_conn":10}';
                        protoCfg =  '{"write_delay":false,"mtu":1300,"sndwnd":2048,"rcvwnd":1024,"datashard":10,"parityshard":3,"dscp":46,"acknodelay":true,"nodelay":0,"interval":40,"resend":0,"nc":0,"sockbuf":16777217,"streambuf":4194304}';
                        break
                    default:
                }

                return {
                    protoCfg:protoCfg,
                    extend:extend,
                }
            },
            goBack: function() {
                this.$router.go(-1)
            },
            goSave: function() {
                if(!this.verifyFieldType()) {
                    return
                }
                this.axios
                    .post('/api/tunnel/create',JSON.stringify(this.info))
                    .then(response=>{
                        if(response.data.code !== 200) {
                            alert(response.data.msg)
                            return
                        }
                        Object.assign(this.info ,response.data.data)
                    })
            },
            verifyFieldType: function () {
                for(var name in this.info) {
                    if(this.fields_type[name] === "number") {
                        if(isNaN(this.info[name])) {
                            alert(name+" is not a number")
                            return false
                        }
                        this.info[name] = Number(this.info[name])
                    }else if(this.fields_type[name] === "string") {
                        this.info[name] = String(this.info[name])
                    }
                }
                return true;
            }
        }
    }
</script>