<template>
    <div class="layout">
        <i-breadcrumb :style="{margin: '24px 24px'}">
            <i-breadcrumb-item>tunnel</i-breadcrumb-item>
            <i-breadcrumb-item>create</i-breadcrumb-item>
        </i-breadcrumb>
        <i-content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">name</i-col>
                <i-col span="6">
                    <i-input v-model="form.name"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">mode</i-col>
                <i-col span="6">
                    <i-select v-model="form.mode" @on-change="handleModeChange">
                        <i-option v-for="item in modeOptions" :key="item.value" :value="item.value">{{item.label}}</i-option>
                    </i-select>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">in_proto</i-col>
                <i-col span="6">
                    <i-select v-model="form.in_proto" @on-change="handleInputProtoChange">
                        <i-option v-for="item in inputProtoOptions" :key="item.value" :value="item.value">{{item.label}}</i-option>
                    </i-select>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">in_addr</i-col>
                <i-col span="6">
                    <i-input v-model="form.in_addr" placeholder="127.0.0.1:1080"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">in_proto_cfg</i-col>
                <i-col span="6">
                    <i-input v-model="form.in_proto_cfg"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">in_decrypt_mode</i-col>
                <i-col span="6">
                    <i-select v-model="form.in_decrypt_mode">
                        <i-option v-for="item in cryptModeOptions" :key="'in-'+item.value" :value="item.value">{{item.label}}</i-option>
                    </i-select>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">in_decrypt_key</i-col>
                <i-col span="6">
                    <i-input v-model="form.in_decrypt_key"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">in_extend</i-col>
                <i-col span="6">
                    <i-input v-model="form.in_extend"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">out_proto</i-col>
                <i-col span="6">
                    <i-select v-model="form.out_proto" @on-change="handleOutputProtoChange">
                        <i-option v-for="item in outputProtoOptions" :key="item.value" :value="item.value">{{item.label}}</i-option>
                    </i-select>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">out_addr</i-col>
                <i-col span="6">
                    <i-input v-model="form.out_addr" placeholder="127.0.0.1:9999"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">out_proto_cfg</i-col>
                <i-col span="6">
                    <i-input v-model="form.out_proto_cfg"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">out_crypt_mode</i-col>
                <i-col span="6">
                    <i-select v-model="form.out_crypt_mode">
                        <i-option v-for="item in cryptModeOptions" :key="'out-'+item.value" :value="item.value">{{item.label}}</i-option>
                    </i-select>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">out_crypt_key</i-col>
                <i-col span="6">
                    <i-input v-model="form.out_crypt_key"></i-input>
                </i-col>
            </i-row>
            <i-row type="flex" justify="start" align="middle" :gutter="16" :style="{margin:'20px 0'}">
                <i-col span="2" :style="{textAlign:'right'}">out_extend</i-col>
                <i-col span="6">
                    <i-input v-model="form.out_extend"></i-input>
                </i-col>
            </i-row>
            <i-row>
                <i-col span="6" offset="2" :style="{textAlign:'right'}">
                    <i-button type="success" @click="goSave">Save</i-button>
                    <i-button type="info" @click="goBack">Back</i-button>
                </i-col>
            </i-row>
        </i-content>
    </div>
</template>
<script type="text/javascript">
    const TunnelFormHelper = window.TunnelFormHelper;

    module.exports = {
        data: function() {
            const kcpxProtoCfg = '{"write_delay":true,"mtu":990,"sndwnd":1024,"rcvwnd":1024,"datashard":0,"parityshard":0,"dscp":46,"acknodelay":false,"nodelay":1,"interval":30,"resend":2,"nc":0,"sockbuf":16777217,"streambuf":4194304,"handshake_timeout_ms":10000,"handshake_retry_interval_ms":500,"handshake_max_retries":20,"heartbeat_interval_ms":10000,"heartbeat_timeout_ms":30000,"reconnect_retry_interval_ms":500,"reconnect_max_retries":20,"enable_auto_reconnect":true}';
            const muxFrameExtend = TunnelFormHelper.buildMuxFrameExtend();
            return {
                routeId: this.id,
                kcpxProtoCfg: kcpxProtoCfg,
                muxFrameExtend: muxFrameExtend,
                modeOptions: TunnelFormHelper.modeOptions,
                cryptModeOptions: TunnelFormHelper.cryptModeOptions,
                inputProtoOptions: TunnelFormHelper.inputProtoOptions,
                outputProtoOptions: TunnelFormHelper.outputProtoOptions,
                form: {
                    name:'tcp客户端',
                    mode:'default',
                    in_proto:'tcp',
                    in_addr:'0.0.0.0:4000',
                    in_proto_cfg:'',
                    in_decrypt_mode:'none',
                    in_decrypt_key:'',
                    in_extend:'',
                    out_proto:'tcp_mux',
                    out_addr:'127.0.0.1:9999',
                    out_proto_cfg:'',
                    out_crypt_mode:'none',
                    out_crypt_key:'goodweather',
                    out_extend:'',
                }
            }
        },
        props: ['id'],
        methods: {
            buildEndpoint(proto, addr) {
                return TunnelFormHelper.buildEndpoint(proto, addr);
            },
            handleModeChange() {
                this.syncInputDefaults();
                this.syncOutputDefaults();
            },
            handleInputProtoChange() {
                this.form.in_addr = TunnelFormHelper.getDefaultInAddr(this.form.in_proto);
                this.syncInputDefaults();
            },
            handleOutputProtoChange() {
                this.syncOutputDefaults();
            },
            syncInputDefaults() {
                const defaults = TunnelFormHelper.getSideDefaults('in', this.form.in_proto, this.form.mode, this.kcpxProtoCfg, this.muxFrameExtend);
                this.form.in_proto_cfg = defaults.protoCfg;
                this.form.in_extend = defaults.extend;
            },
            syncOutputDefaults() {
                const defaults = TunnelFormHelper.getSideDefaults('out', this.form.out_proto, this.form.mode, this.kcpxProtoCfg, this.muxFrameExtend);
                this.form.out_proto_cfg = defaults.protoCfg;
                this.form.out_extend = defaults.extend;
            },
            buildPayload() {
                return {
                    name: String(this.form.name || ''),
                    mode: String(this.form.mode || ''),
                    input: this.buildEndpoint(this.form.in_proto, this.form.in_addr),
                    in_proto_cfg: String(this.form.in_proto_cfg || ''),
                    in_decrypt_mode: String(this.form.in_decrypt_mode || ''),
                    in_decrypt_key: String(this.form.in_decrypt_key || ''),
                    in_extend: String(this.form.in_extend || ''),
                    output: this.buildEndpoint(this.form.out_proto, this.form.out_addr),
                    out_proto_cfg: String(this.form.out_proto_cfg || ''),
                    out_crypt_mode: String(this.form.out_crypt_mode || ''),
                    out_crypt_key: String(this.form.out_crypt_key || ''),
                    out_extend: String(this.form.out_extend || ''),
                };
            },
            goBack: function() {
                this.$router.go(-1)
            },
            goSave: function() {
                const payload = this.buildPayload();
                this.axios
                    .post('/api/tunnel/create', JSON.stringify(payload))
                    .then(response => {
                        if(response.data.code !== 200) {
                            alert(response.data.msg)
                            return
                        }
                        this.$router.go(-1)
                    })
            }
        },
        created: function() {
            this.syncInputDefaults();
            this.syncOutputDefaults();
        }
    }
</script>
