<template>
    <div class="layout">
        <i-breadcrumb :style="{margin: '24px 24px'}">
            <i-breadcrumb-item>tunnel</i-breadcrumb-item>
            <i-breadcrumb-item>list</i-breadcrumb-item>
        </i-breadcrumb>
        <i-content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
            <i-row>
                <i-col span="12" :style="{textAlign:'left'}">
                    <i-button type="info" @click="invokeFlushList">刷新</i-button>
                    <i-button type="info" @click="invokeCreate">创建</i-button>
                    <i-button type="info" @click="invokeImport">导入</i-button>
                    <input type="file" id="input" multiple accept=".tun">
                </i-col>
                <i-col span="12" :style="{textAlign:'right'}">
                    <i-button type="default" @click="invokeEchoCheck">echo检测</i-button>
                    <i-button type="default" @click="invokeSocks5Check">socks5检测</i-button>
                    <i-button type="default" @click="invokeHttpProxyCheck">httpproxy检测</i-button>
                    <input type="text" id="target_addr" value="127.0.0.1:1080">
                </i-col>
            </i-row>
            <br>
            <i-table :columns="col_list" :data="main_data"  @on-selection-change="table_selection_change">
                <template slot-scope="{row}" slot="detail_button">
                    <i-button type="info" size="small" @click="invokeView(row)">查看</i-button>
                    <i-button type="info" size="small" @click="invokeEdit(row)">编辑</i-button>
                    <i-button type="info" size="small" @click="invokeExport(row)">导出</i-button>
                    <i-button type="defaut" size="small" @click="invokeDelete(row)">删除</i-button>
                </template>
            </i-table>
            <i-page :styles="{margin:'20px'}" :total="pageTotal" :page-size="pageSize" show-elevator show-total  @on-change="invokeChangePage" ></i-page>
            <i-modal v-model="viewModal" :width="50" title="preview">
                <i-row type="flex" justify="start" align="middle" :gutter="16" v-for="(value, name) in viewModalData" :style="{margin:'5px 0'}">
                    <i-col span="6" :style="{textAlign:'right'}">{{name}}</i-col>
                    <i-col span="12">
                        <i-input v-model="value"></i-input>
                    </i-col>
                </i-row>
            </i-modal>
            <i-modal v-model="deleteModal" title="del">
                <p slot="header" style="color:#f60;text-align:center">
                    <i-icon type="ios-information-circle"></i-icon>
                    <span>Delete confirmation</span>
                </p>
                <div style="text-align:center">
                    <p>confirm delete?</p>
                    <p>The operation delete record from the database</p>
                </div>
                <div slot="footer">
                    <i-row type="flex" justify="end">
                        <i-col span="12">
                            <i-button type="info" size="large" long @click="deleteModal = false;deleteModalData = {}">Cancel</i-button>
                        </i-col>
                        <i-col span="4">
                            <i-button type="error" size="large" @click="invokeConfirmDelete()" >Delete</i-button>
                        </i-col>
                    </i-row>
                </div>
            </i-modal>
        </i-content>
    </div>
</template>
<script type="text/javascript">
    module.exports = {
        data: function() {
            return {
                main_data: [],
                pageTotal:0,
                pageSize:0,
                viewModal:false,
                viewModalData:{},
                deleteModal:false,
                deleteModalData: {},
                batchDeleteModal:false,
                batchDeleteModalData:[],
                col_list: [
                    {type:'selection',width:60,align:'center'},
                    {title:'name', key:'name'},
                    {title:'mode', key:'mode'},
                    {title:'status', key:'status'},
                    {title:'input', key:'input'},

                    {title:'output', key:'output'},
{title:'created_at', key:'created_at'},

                    {title:'operate', slot:'detail_button', width: 250}
                ],
                routePage:this.page ?this.page : '',
                info:{},
                search_fields: [
                ],
                fields_type:{
                    name:'string',
                    input:'string',
                    mode:'string',
                    in_proto_cfg:'string',
                    in_decrypt_mode:'string',
                    in_decrypt_key:'string',
                    in_extend:'string',

                    output:'string',
                    out_proto_cfg:'string',
                    out_crypt_mode:'string',
                    out_crypt_key:'string',
                    out_extend:'string',

created_at:'string',

                }
            }
        },
        props: ['page'],
        methods: {
            tableData: function() {
                var pageStr = this.routePage ? '?page='+this.routePage : '';

                if(!this.verifyFieldType()) {
                    return
                }

                this.axios
                    .post('/api/tunnel/list'+pageStr,this.info)
                    .then(response=>{
                        if(response.data.code !== 200) {
                            alert(response.data.msg)
                            return
                        }
                        this.main_data = response.data.data.list,
                        this.pageTotal = response.data.data.pagination.total_nums,
                        this.pageSize = response.data.data.pagination.page_size
                    })
            },
            invokeChangePage: function(page) {
                this.$router.push({query:{page:page}})
            },
            invokeFlushList:function (){
                this.tableData()
            },
            invokeEchoCheck: function() {
                this.invokeCheckServer("echo");
            },
            invokeSocks5Check: function() {
                this.invokeCheckServer("socks5");
            },
            invokeHttpProxyCheck: function() {
                this.invokeCheckServer("httpproxy");
            },
            invokeCheckServer: function(serverType) {
                const targetAddr = document.getElementById('target_addr').value;

                var paramStr = '?serverType='+serverType+'&targetAddr='+targetAddr;
                this.axios
                    .post('/api/tunnel/check_server'+paramStr)
                    .then(response=>{
                        alert(response.data.msg);
                    })
            },

            invokeDetail: function(row) {
                // console.info(this.$route)
                this.$router.push({path:'/tunnel/detail',query:{id:row.id}})
            },
            invokeEdit: function(row) {
                this.$router.push({path:'/tunnel/edit',query:{data:row}})
            },
            invokeExport: function(row) {
                url = "/api/tunnel/export?name="+row.name;
                window.open(url)
            },
            invokeImport: function(){
                self = this;
                const files = document.getElementById('input').files;

                for (let i = 0, numFiles = files.length; i < numFiles; i++) {
                    const file = files[i];
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        // event.target.result就是读取的内容
                        console.log(event.target.result);
                        var json = JSON.parse(event.target.result);
                        self.axios.post('/api/tunnel/import',event.target.result).then(response=>{
                            if(response.data.code !== 200) {
                                alert(response.data.msg)
                                return
                            }
                            self.tableData();
                        })
                    };
                    reader.readAsText(file);
                }
            },
            invokeCreate: function() {
                this.$router.push({path:'/tunnel/create'})
            },
            invokeDelete: function(row) {
                // modal
                this.deleteModal=true
                this.deleteModalData = row
                console.info(row)
            },
            invokeConfirmDelete: function() {
                this.axios
                    .post('/api/tunnel/delete',{name:this.deleteModalData.name})
                    .then(response=>{
                        if(response.data.code !== 200) {
                            alert(response.data.msg)
                            return
                        }
                        this.deleteModal = false
                        this.deleteModalData = {}
                        this.tableData()
                    })
            },
            invokeView:function(row) {
                this.viewModal = true
                this.viewModalData = row
            },
            invokeBatchDelete: function() {
                if(this.batchDeleteModalData.length == 0) {
                    alert('Please select items first!');
                    return;
                }
                this.batchDeleteModal=true
            },
            table_selection_change(rows) {
                this.batchDeleteModalData = []

                for (var i in rows) {
                    this.batchDeleteModalData.push(rows[i].id)
                }
            },
            verifyFieldType: function () {
                for(var name in this.info) {
                    if(this.fields_type[name] === "number") {
                        if(isNaN(this.info[name])) {
                            alert(name+" is not a number")
                            return false
                        }
                        this.info[name] = Number(this.info[name])
                    }else if(this.fields_type[name] === "string") {
                        this.info[name] = String(this.info[name])
                    }
                }
                return true;
            }
        },
        created: function() {
            this.tableData();
        },
        beforeRouteUpdate: function(to, from ,next) {
            this.routePage = to.query.page
            this.tableData();
            next()
        }
    }
</script>
