<template>
    <div class="layout">
        <i-breadcrumb :style="{margin: '24px 24px'}">
            <i-breadcrumb-item>tunnel</i-breadcrumb-item>
            <i-breadcrumb-item>list</i-breadcrumb-item>
        </i-breadcrumb>
        <i-content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
            <i-row>

                    <i-button type="info" @click="invokeCreate">New</i-button>

            </i-row>
            <br>
            <i-table :columns="col_list" :data="main_data"  @on-selection-change="table_selection_change">
                <template slot-scope="{row}" slot="detail_button">
                    <i-button type="info" size="small" @click="invokeView(row)">View</i-button>
                    <i-button type="info" size="small" @click="invokeEdit(row)">Edit</i-button>
                    <i-button type="defaut" size="small" @click="invokeDelete(row)">Delete</i-button>
                </template>
            </i-table>
            <i-page :styles="{margin:'20px'}" :total="pageTotal" :page-size="pageSize" show-elevator show-total  @on-change="invokeChangePage" ></i-page>
            <i-modal v-model="viewModal" :width="50" title="preview">
                <i-row type="flex" justify="start" align="middle" :gutter="16" v-for="(value, name) in viewModalData" :style="{margin:'5px 0'}">
                    <i-col span="6" :style="{textAlign:'right'}">{{name}}</i-col>
                    <i-col span="12">
                        <i-input v-model="value"></i-input>
                    </i-col>
                </i-row>
            </i-modal>
            <i-modal v-model="deleteModal" title="del">
                <p slot="header" style="color:#f60;text-align:center">
                    <i-icon type="ios-information-circle"></i-icon>
                    <span>Delete confirmation</span>
                </p>
                <div style="text-align:center">
                    <p>confirm delete?</p>
                    <p>The operation delete record from the database</p>
                </div>
                <div slot="footer">
                    <i-row type="flex" justify="end">
                        <i-col span="12">
                            <i-button type="info" size="large" long @click="deleteModal = false;deleteModalData = {}">Cancel</i-button>
                        </i-col>
                        <i-col span="4">
                            <i-button type="error" size="large" @click="invokeConfirmDelete()" >Delete</i-button>
                        </i-col>
                    </i-row>
                </div>
            </i-modal>
        </i-content>
    </div>
</template>
<script type="text/javascript">
    module.exports = {
        data: function() {
            return {
                main_data: [],
                pageTotal:0,
                pageSize:0,
                viewModal:false,
                viewModalData:{},
                deleteModal:false,
                deleteModalData: {},
                batchDeleteModal:false,
                batchDeleteModalData:[],
                col_list: [
                    {type:'selection',width:60,align:'center'},
                    {title:'name', key:'name'},
                    {title:'mode', key:'mode'},
                    {title:'status', key:'status'},
                    {title:'input', key:'input'},

                    {title:'output', key:'output'},
{title:'created_at', key:'created_at'},

                    {title:'operate', slot:'detail_button', width: 250}
                ],
                routePage:this.page ?this.page : '',
                info:{},
                search_fields: [
                ],
                fields_type:{
                    name:'string',
                    input:'string',
                    mode:'string',
                    in_proto_cfg:'string',
                    in_decrypt_mode:'string',
                    in_decrypt_key:'string',
                    in_extend:'string',

                    output:'string',
                    out_proto_cfg:'string',
                    out_crypt_mode:'string',
                    out_crypt_key:'string',
                    out_extend:'string',

created_at:'string',

                }
            }
        },
        props: ['page'],
        methods: {
            tableData: function() {
                var pageStr = this.routePage ? '?page='+this.routePage : '';

                if(!this.verifyFieldType()) {
                    return
                }

                this.axios
                    .post('/api/tunnel/list'+pageStr,this.info)
                    .then(response=>{
                        if(response.data.code !== 200) {
                            alert(response.data.msg)
                            return
                        }
                        this.main_data = response.data.data.list,
                        this.pageTotal = response.data.data.pagination.total_nums,
                        this.pageSize = response.data.data.pagination.page_size
                    })
            },
            invokeChangePage: function(page) {
                this.$router.push({query:{page:page}})
            },
            invokeSearch: function() {
                this.routePage = 1;
                this.tableData();
            },
            invokeDetail: function(row) {
                // console.info(this.$route)
                this.$router.push({path:'/tunnel/detail',query:{id:row.id}})
            },
            invokeEdit: function(row) {
                this.$router.push({path:'/tunnel/edit',query:{data:row}})
            },
            invokeCreate: function() {
                this.$router.push({path:'/tunnel/create'})
            },
            invokeDelete: function(row) {
                // modal
                this.deleteModal=true
                this.deleteModalData = row
                console.info(row)
            },
            invokeConfirmDelete: function() {
                this.axios
                    .post('/api/tunnel/delete',{name:this.deleteModalData.name})
                    .then(response=>{
                        if(response.data.code !== 200) {
                            alert(response.data.msg)
                            return
                        }
                        this.deleteModal = false
                        this.deleteModalData = {}
                        this.tableData()
                    })
            },
            invokeView:function(row) {
                this.viewModal = true
                this.viewModalData = row
            },
            invokeBatchDelete: function() {
                if(this.batchDeleteModalData.length == 0) {
                    alert('Please select items first!');
                    return;
                }
                this.batchDeleteModal=true
            },
            table_selection_change(rows) {
                this.batchDeleteModalData = []

                for (var i in rows) {
                    this.batchDeleteModalData.push(rows[i].id)
                }
            },
            verifyFieldType: function () {
                for(var name in this.info) {
                    if(this.fields_type[name] === "number") {
                        if(isNaN(this.info[name])) {
                            alert(name+" is not a number")
                            return false
                        }
                        this.info[name] = Number(this.info[name])
                    }else if(this.fields_type[name] === "string") {
                        this.info[name] = String(this.info[name])
                    }
                }
                return true;
            }
        },
        created: function() {
            this.tableData();
        },
        beforeRouteUpdate: function(to, from ,next) {
            this.routePage = to.query.page
            this.tableData();
            next()
        }
    }
</script>
